version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: taskflow_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: task_management
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: taskflow_backend
    restart: always
    ports:
      - "5000:5000"
    environment: 
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: task_management
      JWT_SECRET: tvoj_tajni_kljuc_ovde
      FRONTEND_URL: http://localhost:3000
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: taskflow_frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db_data: